.title {
    background-color: #576096;
    color: white;
    border: 5px solid #F19B2A;
    border-radius: 30px;
    width: 15%;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    font-family: Score6;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* 드롭다운 항목 스타일 */
#dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 변화 */
}

/* 첫 번째 항목에 둥근 상단 모서리 추가 */
#dropdown-menu li:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* 마지막 항목에 둥근 하단 모서리 추가 */
#dropdown-menu li:last-child {
    border-bottom: none; /* 마지막 항목의 경계선 제거 */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* 마우스를 올렸을 때 색상 변경 */
#dropdown-menu li:hover {
    background-color: #F19B2A;
    color: #000000;
}