/* 그리드 레이아웃 */
.grid {
    display: grid;
    width: 85%;
    height: 80%;
    grid-template-columns: repeat(2, 1fr); /* 2열 레이아웃 */
    gap: 15px;
}

/* 카드 스타일 */
.card {
    background-color: #FFFFFF;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
}

.card textarea {
    width: 100%;
    height: 100px; /* 기본 높이 */
    resize: none; /* 크기 조정 비활성화 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
}


/* 공통 링크 스타일 */
.card ul {
    list-style: none;
    padding: 0;
}

.card a {
    text-decoration: none;
    color: black;
}

.card a:hover {
    text-decoration: underline;
}

.card.disabled {
    background-color: #9294a5; /* 회색 */
    pointer-events: none; /* 클릭 불가능 */
    opacity: 0.6; /* 불투명도 감소 */
}

.add-button {
    background-color: #FB9C1F;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
}


/* 분석 제목 */
.analyzeTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
.analyzeEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 85%;
    margin-top: 10px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 배치 */
    align-items: center;
}
.analyzeEnd2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 90%;
    z-index: 3;
}

.btnOne {
    background-color: #576096;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Score6', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* 호버 효과 및 애니메이션 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.btnAll {
    background-color: #F19B2A;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Score6', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* 호버 효과 및 애니메이션 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.resultTitle{
    font-family: 'Score5', sans-serif;
}

.testCard {
    width: 100%;
    height: 100%;
    max-height: 200px; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
    background-color: #fff; /* 배경색 추가 */
}
.question {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.question h3 {
    margin-top: 0;
}

.choices {
    margin: 10px 0;
}

.choices label {
    display: block;
    margin: 5px 0;
}