._005,
._005 * {
    box-sizing: border-box;
}
._005 {
    background: #fffefd;
    height: 50vw;
    position: relative;
    overflow: hidden;
}
.rectangle-111 {
    background: #fffefd;
    border-radius: 15px;
    border-style: solid;
    border-color: #1e2d84;
    border-width: 4px;
    width: 775px;
    height: 77px;
    position: absolute;
    left: 318px;
    top: 321px;
}
.text-danger
{
    text-align: left;
    font-family: "Score5", sans-serif;

    font-size: 1.5vw;
    font-weight: 400;
    position: absolute;
    left: 30vw;
    top: 12vw;
}
.div {
    color: #000000;
    text-align: left;
    font-family: "Score5", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    position: absolute;
    left: 30vw;
    top: 15vw;
    display: flex;
    align-items: center;
    width: 70%
}
.div2 {
    color: #000000;
    text-align: left;
    font-family: "Score5", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    position: absolute;
    left: 30vw;
    top: 22vw;
    display: flex;
    align-items: center;
    width: 70%
}
.div_cert {
    color: #000000;
    text-align: left;
    font-family: "Score5", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    position: absolute;
    left: 30vw;
    top: 29vw;
    display: flex;
    align-items: center;
    width: 70%
}
.find-btn {
    padding: 0.5vw 1vw;
    position: absolute;
    font-size: 2vw;

    font-family: "SCore5", sans-serif;
    background-color: #576096;
    color: white;
    border: 3px solid #FB9C1F; /* 주황색 테두리 설정 */
    border-radius: 15px;       /* 둥근 테두리 설정 */
    cursor: pointer;
    margin-top: 1vw; /* 버튼 위에 간격 추가 */
    transition: background-color 0.3s ease;
    width: 17vw;
    height: 4vw;
    left: 38vw;
    top: 33vw;
}
.sendmessage-btn {
    padding: 0.5vw 1vw;
    position: absolute;
    font-size: 1.2vw;
    font-family: "SCore5", sans-serif;
    background-color: #576096;
    color: white;
    border: 3px solid #FB9C1F; /* 주황색 테두리 설정 */
    border-radius: 15px;       /* 둥근 테두리 설정 */
    cursor: pointer;
    margin-top: 1vw; /* 버튼 위에 간격 추가 */
    transition: background-color 0.3s ease;
    width: 13vw;
    height: 3vw;
    left: 67vw;
    top: 21vw;
}
.rectangle-112 {
    background: #fffefd;
    border-radius: 15px;
    border-style: solid;
    border-color: #1e2d84;
    border-width: 4px;
    width: 775px;
    height: 76px;
    position: absolute;
    left: 318px;
    top: 446px;
}
.rectangle-113 {
    background: #fffefd;
    border-radius: 15px;
    border-style: solid;
    border-color: #1e2d84;
    border-width: 4px;
    width: 775px;
    height: 77px;
    position: absolute;
    left: 318px;
    top: 587px;
}
.form-control-findid{
    text-align: center;
    margin-left: 7vw; /* ID와 input 사이의 간격 조정 */

    border-radius: 15px; /* 모서리를 둥글게 */
    padding: 10px; /* 입력 필드의 내용이 가장자리에 붙지 않게 여백 추가 */
    height: 3vw;
    width: 23vw
}
.form-control-findPW{
    text-align: center;
    margin-left: 3vw; /* ID와 input 사이의 간격 조정 */
    border-radius: 15px; /* 모서리를 둥글게 */
    padding: 10px; /* 입력 필드의 내용이 가장자리에 붙지 않게 여백 추가 */
    height: 3vw;
    width: 23vw
}
.form-control-certnumber{
    text-align: center;
    border-radius: 15px; /* 모서리를 둥글게 */
    padding: 10px; /* 입력 필드의 내용이 가장자리에 붙지 않게 여백 추가 */
    height: 3vw;
    width: 34vw
}
.div3 {
    color: #576096;
    text-align: center;
    font-family: "Score6", sans-serif;
    font-size: 36px;
    font-weight: 400;
    position: absolute;
    left: 548px;
    top: 603px;
    width: 315px;
    height: 45px;
}
.frame-12 {
    background: #f2bc65;
    width: 100vw;
    height: 6vw;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.polygon-2 {
    width: 32px;
    height: 16px;
    position: absolute;
    left: 1086px;
    top: 32px;
    overflow: visible;
}
.div4 {
    color: #576096;
    text-align: left;
    font-family: "HakgyoB", sans-serif;
    font-size: 3vw;
    font-weight: 400;
    position: absolute;
    left: 28px;
    top: 6px;
}
.rectangle-116 {
    background: #576096;
    border-radius: 15px;
    border-style: solid;
    border-color: #fb9c1f;
    border-width: 3px;
    width: 217px;
    height: 62px;
    position: absolute;
    left: 597px;
    top: 811px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.div5 {
    color: #ffffff;
    text-align: left;
    font-family: "SCoreDream-6Bold", sans-serif;
    font-size: 36px;
    font-weight: 400;
    position: absolute;
    left: 671px;
    top: 821px;
}
.rectangle-117 {
    background: #576096;
    border-radius: 15px;
    border-style: solid;
    border-color: #fb9c1f;
    border-width: 3px;
    width: 217px;
    height: 62px;
    position: absolute;
    left: 1131px;
    top: 454px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.div6 {
    color: #ffffff;
    text-align: left;
    font-family: "SCoreDream-6Bold", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 1143px;
    top: 466px;
}
@font-face {
    font-family: 'Hakgyo';
    src: url("../fonts/HakgyoansimDunggeunmisoTTFB.ttf") format('truetype');
}
@font-face {
    font-family: 'HakgyoR';
    src: url("../fonts/Hakgyoansim Dunggeunmiso OTF R.otf") format('truetype');
}
@font-face {
    font-family: 'HakgyoB';
    src: url("../fonts/Hakgyoansim Dunggeunmiso OTF B.otf") format('truetype');
}
@font-face {
    font-family: 'Score1';
    src: url("../fonts/SCDream1.otf") format('truetype');
}
@font-face {
    font-family: 'Score2';
    src: url("../fonts/SCDream2.otf") format('truetype');
}
@font-face {
    font-family: 'Score3';
    src: url("../fonts/SCDream3.otf") format('truetype');
}
@font-face {
    font-family: 'Score4';
    src: url("../fonts/SCDream4.otf") format('truetype');
}
@font-face {
    font-family: 'Score5';
    src: url("../fonts/SCDream5.otf") format('truetype');
}
@font-face {
    font-family: 'Score6';
    src: url("../fonts/SCDream6.otf") format('truetype');
}
@font-face {
    font-family: 'Score7';
    src: url("../fonts/SCDream7.otf") format('truetype');
}
@font-face {
    font-family: 'Score8';
    src: url("../fonts/SCDream8.otf") format('truetype');
}
@font-face {
    font-family: 'Score9';
    src: url("../fonts/SCDream9.otf") format('truetype');
}
