._008,
._008 * {
    box-sizing: border-box;
}
._008 {
    background: #fcf2d4;
    width:100vw;
    height: 100vh;
    position: relative;
    overflow: auto;
}
.rectangle-1 {
    background: #fffdfd;
    width: 441px;
    height: 118px;
    position: absolute;
    left: 453px;
    top: 413px;
}
.frame-11 {
    background: #f2d28d;
    border-radius: 20px;
    border-style: solid;
    border-color: #e2b248;
    border-width: 3px;
    width: 30vw;
    height: 70vh;
    position: absolute;
    left: 35vw;
    top: 8vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    flex-direction: column; /* 자식 요소들이 수직으로 정렬되도록 */
    justify-content: center; /* 자식 요소들을 수직으로 중앙 정렬 */
    align-items: center; /* 자식 요소들을 수평으로 중앙 정렬 */
}
.div {
    color: #000000;
    text-align: center;
    font-family: 'HakgyoR', sans-serif; !important;
    font-size: 1.3vw;
    font-weight: 400;
    position: absolute;
    left: 9vw;
    top: 53vh;
}
.div2 {
    color: #000000;
    text-align: center;
    font-family: 'HakgyoR', sans-serif; !important;
    font-size: 1.3vw;
    font-weight: 400;
    position: absolute;
    left: 17vw;
    top: 53vh;
}
.id {
    color: #000000;
    text-align: left;
    font-family: "Score5", sans-serif;
    font-size: 1.7vw;
    font-weight: 400;
    position: absolute;
    left: 2vw;
    top: 22vh;
    display: flex;
    align-items: center;
    width: 70%
}
.form-control-id {
    margin-left: 3.3vw; /* ID와 input 사이의 간격 조정 */
    border-radius: 15px; /* 모서리를 둥글게 */
    padding: 1vw; /* 입력 필드의 내용이 가장자리에 붙지 않게 여백 추가 */
    height: 7vh;
    width: 80vw;
    text-align: center;
}
.pw {
    color: #000000;
    text-align: left;
    font-family: "Score5", sans-serif;
    font-size: 1.7vw;
    font-weight: 400;
    position: absolute;
    left: 2vw;
    top: 33vh;
    display: flex;
    align-items: center;
    width: 70%
}
.form-control-pw {
    margin-left: 2vw; /* ID와 input 사이의 간격 조정 */
    border-radius: 15px; /* 모서리를 둥글게 */
    padding: 1vw; /* 입력 필드의 내용이 가장자리에 붙지 않게 여백 추가 */
    height: 7vh;
    width: 80vw;
    text-align: center;
}
.div3 {
    color: #eb6319;
    text-align: center;
    font-family: "HakgyoB", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    position: absolute;
    left: 8vw;
    top: 57vh;
}
.div4 {
    color: #1e2d84;
    text-align: left;
    font-family: "HakgyoB", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    position: absolute;
    left: 16.5vw;
    top: 57vh;
}
._4 {
    width: 7vw;
    height: 7vw;
    position: absolute;
    left: 2vw;
    top: 1.5vw;
    object-fit: cover;
}
.rectangle-2 {
    border-radius: 0px;
    width: 445px;
    height: 65px;
    position: absolute;
    left: 541px;
    top: 396px;
    overflow: visible;
}
.rectangle-5 {
    border-radius: 0px;
    width: 445px;
    height: 65px;
    position: absolute;
    left: 541px;
    top: 517px;
    overflow: visible;
}
.ai {
    text-align: center; /* 수평 중앙 정렬 */
    position: absolute; /* 부모 요소에 대한 절대 위치 지정 */
    left: 60%; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 수평 중앙 정렬을 위한 이동 */
    top: 10px; /* 상단에 배치 */
    width: 20vw;
    height: 10vw;
}
.ai-span {
    color: #000000;
    font-family: 'HakgyoB', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
}
.ai-span2 {
    color: #576096;
    font-family: "HakgyoB", sans-serif;
    font-size: 3.5vw;
    font-weight: 400;
}
.ai-span3 {
    color: #e78402;
    font-family: "HakgyoB", sans-serif;
    font-size: 3.5vw;
    font-weight: 400;
}
.rectangle-4 {
    border-radius: 0px;
    width: 445px;
    height: 58px;
    position: absolute;
    left: 541px;
    top: 617px;
    overflow: visible;
}
.teacher-signup{
    text-decoration: none;  /* 밑줄 제거 */
    color: #1E2D84;

}
.student-signup{
    text-decoration: none;  /* 밑줄 제거 */
    color: #EB6319;

}
.find-ID{
    text-decoration: none;  /* 밑줄 제거 */

    color: #000000;

}
.find-PW{
    text-decoration: none;  /* 밑줄 제거 */
    color: #000000;

}
.text-danger{

}
.login-btn {
    padding: 10px 20px;
    position: absolute;
    font-size: 1vw;
    font-family: 'Score5', sans-serif;
    background-color: #576096;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* 버튼 위에 간격 추가 */
    transition: background-color 0.3s ease;
    width: 16vw;
    height: 5vh;
    left: 9vw;
    top: 43vh;
}

.login-btn:hover {
    background-color: #576096;
}
.image-10-removebg-preview-2 {
    width: 15vw;
    height: 40vh;
    position: absolute;
    left: 70vw;
    top: 60vh;
    object-fit: cover;
}
.frame-36 {
    width: 1px;
    height: 2px;
    position: absolute;
    left: 865px;
    top: 879px;
    overflow: hidden;
}

@font-face {
    font-family: 'Hakgyo';
    src: url("../fonts/HakgyoansimDunggeunmisoTTFB.ttf") format('truetype');
}
@font-face {
    font-family: 'HakgyoR';
    src: url("../fonts/Hakgyoansim Dunggeunmiso OTF R.otf") format('truetype');
}
@font-face {
    font-family: 'HakgyoB';
    src: url("../fonts/Hakgyoansim Dunggeunmiso OTF B.otf") format('truetype');
}
@font-face {
    font-family: 'Score1';
    src: url("../fonts/SCDream1.otf") format('truetype');
}
@font-face {
    font-family: 'Score2';
    src: url("../fonts/SCDream2.otf") format('truetype');
}
@font-face {
    font-family: 'Score3';
    src: url("../fonts/SCDream3.otf") format('truetype');
}
@font-face {
    font-family: 'Score4';
    src: url("../fonts/SCDream4.otf") format('truetype');
}
@font-face {
    font-family: 'Score5';
    src: url("../fonts/SCDream5.otf") format('truetype');
}
@font-face {
    font-family: 'Score6';
    src: url("../fonts/SCDream6.otf") format('truetype');
}
@font-face {
    font-family: 'Score7';
    src: url("../fonts/SCDream7.otf") format('truetype');
}
@font-face {
    font-family: 'Score8';
    src: url("../fonts/SCDream8.otf") format('truetype');
}
@font-face {
    font-family: 'Score9';
    src: url("../fonts/SCDream9.otf") format('truetype');
}
