
.ai-020,
.ai-020 * {
    box-sizing: border-box;
}
.ai-020 {
    background: #fcf2d4;
    height: 50vw;
    position: relative;
    overflow: hidden;
}

.main-box {
    border-radius: 30px;
    background: #F6E1A0;
    font-family: "Score6", sans-serif;
    font-size: 1.3vw;
    border-width: 0.2vw;
    width: 80vw;  /* 너비를 vw로 설정 */
    height: 26vw;  /* 높이를 vh로 설정 */
    left: 10vw;  /* 좌측 위치를 vw로 설정 */
    top: 5vw;    /* 상단 위치를 vh로 설정 */
    position: absolute;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: flex-start;  /* 위에서부터 정렬 */
    align-items: center;  /* 가로 중앙 정렬 */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    padding-top: 2vh; /* 상단 여백을 vh로 설정 */
}

.btlogin
{
    font-size: 1.3vw;
    text-decoration: none; /* 밑줄 없애기 */
    color: inherit;        /* 텍스트 색상을 부모 요소의 색상으로 상속 */
    left: 17vw;
    top: 53vw;
}
.back-btn{
    color:#908282;
    font-size: 1.3vw;
    text-decoration: none; /* 밑줄 없애기 */
    left: 2vw;
    top: 46vw;
    position: absolute;
}
.profile
{
    height: 20vw;
    width: 20vw;
    border: 0.3vw solid #1E2D84;
    left:7vw;
    top:3vw;
    position:absolute;
    border-radius: 50%;
}
.file-div
{
    position:absolute;
    left:0vw;
    top:0vw;
}
.file-select{
    position: absolute;
    font-size: 1.5vw;
    outline: none;
    border: 1px solid #E68E1B;
    font-family: "SCore5", sans-serif;
    background-color: #E68E1B;
    color: white;
    border-radius: 50px;       /* 둥근 테두리 설정 */
    width: 3.5vw;
    height: 3.5vw;
    left: 22vw;
    top: 18vw;
    z-index: 2;
}
.sub-box{
    border-radius: 10px;
    background: #FFFFFF;
    font-family: "Score6", sans-serif;
    color:#4B4B4B;
    font-size: 1.3vw;
    border-width: 0.2vw;
    width: 30vw;  /* 너비를 vw로 설정 */
    height: 13vw;  /* 높이를 vh로 설정 */
    left: 40vw;  /* 좌측 위치를 vw로 설정 */
    top: 10vw;    /* 상단 위치를 vh로 설정 */
    position: absolute;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: flex-start;  /* 위에서부터 정렬 */
    align-items: center;  /* 가로 중앙 정렬 */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    padding-top: 2vh; /* 상단 여백을 vh로 설정 */
}
.name{
    position:absolute;
    left:40vw;
    color:#4B4B4B;
    top:2vw;
    font-family: "SCore5", sans-serif;
    font-size:5vw;
}
.info{
    position:absolute;
    left: 5vw;
    top:2.5vw;
}
.emo{
    height:2vw;
    width:2vw;
}
.Counsel-btn{
    position: absolute;
    left:70vw;
    top:35vw;
    background: #f19b2a;
    border-radius: 30px;
    border-style: solid;
    border-color: #576096;
    border-width: 7px;
    width: 15vw;
    height: 8vh;
    font-family: "Score6", sans-serif;
    font-size:1.5vw;
    display: flex; /* 플렉스 박스 활성화 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-decoration: none; /* 밑줄 제거 */
    font-weight: bold;
    color: white;

}
.popup {
    display: none; /* 숨겨진 상태로 시작 */
    position: fixed;
    width: 30%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.openPopup{
    position: absolute;
    left:52vw;
    top:35vw;
    background: #f19b2a;
    border-radius: 30px;
    border-style: solid;
    border-color: #576096;
    border-width: 7px;
    width: 15vw;
    height: 8vh;
    font-family: "Score6", sans-serif;
    font-size:1.5vw;
    display: flex; /* 플렉스 박스 활성화 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-decoration: none; /* 밑줄 제거 */
    font-weight: bold;
    color: white;
}
.overlay {
    display: none; /* 숨겨진 상태로 시작 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.btnAll {
    background-color: #F19B2A;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Score6', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* 호버 효과 및 애니메이션 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.btnAdd {
    background-color: #F19B2A;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Score6', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* 호버 효과 및 애니메이션 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.deleteAccount{
    color:#908282;
    font-size: 1.3vw;
    text-decoration: none; /* 밑줄 없애기 */
    left: 90vw;
    top: 46vw;
    position: absolute;
}
