
<link rel="stylesheet" href="/css/footer.css">
<footer class="footer">
    <h3>KT 에이블 스쿨 AI트랙 Big project 20조</h3>
    <div class="footer-content">
        <div>
            강홍규<br>
            김규원<br>
            김대길<br>
            김지섭
        </div>
        <div>
            김강용<br>
            남윤주<br>
            손대원<br>
            신성호
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 Aivle School AI track team 20.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="" crossorigin="anonymous"></script>
</body>
</html>