<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <style>
        ._044,
        ._044 * {
            box-sizing: border-box;
        }
        ._044 {
            background: #ffffff;
            height: 4429px;
            position: relative;
            overflow: hidden;
        }
        .component-1-1 {
            width: 1440px;
            height: 4429px;
            position: absolute;
            left: 0px;
            top: 0px;
            object-fit: cover;
        }
        .rectangle-314 {
            background: rgba(255, 255, 255, 0.55);
            width: 1476px;
            height: 116px;
            position: absolute;
            left: -2px;
            top: 0px;
        }
        .rectangle-317 {
            background: rgba(255, 255, 255, 0.55);
            width: 1440px;
            height: 116px;
            position: absolute;
            left: 0px;
            top: 4313px;
        }
        .line-23 {
            width: 1472px;
            height: 0px;
            position: absolute;
            left: 0px;
            top: 115px;
            transform: translate(0px, -6px);
            overflow: visible;
        }
        .line-24 {
            width: 1054px;
            height: 0px;
            position: absolute;
            left: 187px;
            top: 862px;
            transform: translate(-2px, -2px);
            overflow: visible;
        }
        .line-25 {
            width: 1054px;
            height: 0px;
            position: absolute;
            left: 187px;
            top: 1669px;
            transform: translate(-2px, -2px);
            overflow: visible;
        }
        .line-26 {
            width: 1054px;
            height: 0px;
            position: absolute;
            left: 187px;
            top: 2477px;
            transform: translate(-2px, -2px);
            overflow: visible;
        }
        .line-27 {
            width: 1054px;
            height: 0px;
            position: absolute;
            left: 187px;
            top: 3285px;
            transform: translate(-2px, -2px);
            overflow: visible;
        }
        .line-28 {
            width: 1054px;
            height: 0px;
            position: absolute;
            left: 187px;
            top: 3979px;
            transform: translate(-2px, -2px);
            overflow: visible;
        }
        .line-29 {
            width: 1440px;
            height: 0px;
            position: absolute;
            left: 0px;
            top: 4313px;
            transform: translate(0px, -3.5px);
            overflow: visible;
        }
        .div {
            text-align: left;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 60px;
            font-weight: 400;
            position: absolute;
            left: 275px;
            top: 392px;
            width: 295px;
            height: 75px;
        }
        .div-span {
            color: #576096;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 60px;
            font-weight: 400;
        }
        .div-span2 {
            color: #f19b2a;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 60px;
            font-weight: 400;
        }
        .div2 {
            text-align: center;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 48px;
            font-weight: 400;
            position: absolute;
            left: 180px;
            top: 33px;
            width: 263px;
            height: 62px;
        }
        .div-2-span {
            color: #576096;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 48px;
            font-weight: 400;
        }
        .div-2-span2 {
            color: #f19b2a;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 48px;
            font-weight: 400;
        }
        ._1 {
            width: 70px;
            height: 91px;
            position: absolute;
            left: 122px;
            top: 3px;
            object-fit: cover;
        }
        ._2 {
            width: 466px;
            height: 469px;
            position: absolute;
            left: 736px;
            top: 233px;
            object-fit: cover;
        }
        .div3 {
            color: #4b4b4b;
            text-align: left;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 40px;
            font-weight: 400;
            position: absolute;
            left: 275px;
            top: 291px;
            width: 750px;
            height: 203px;
        }
        .rectangle-315 {
            background: rgba(255, 225, 185, 0.41);
            border-radius: 100px;
            border-style: solid;
            border-color: #576096;
            border-width: 7px;
            width: 120px;
            height: 43px;
            position: absolute;
            left: 1076px;
            top: 40px;
        }
        .rectangle-318 {
            background: #fb9c1f;
            border-radius: 100px;
            border-style: solid;
            border-color: #576096;
            border-width: 7px;
            width: 275px;
            height: 66px;
            position: absolute;
            left: 275px;
            top: 655px;
        }
        .rectangle-316 {
            background: rgba(255, 225, 185, 0.41);
            border-radius: 100px;
            border-style: solid;
            border-color: #576096;
            border-width: 7px;
            width: 127px;
            height: 43px;
            position: absolute;
            left: 1222px;
            top: 40px;
        }
        .div4 {
            color: #4b4b4b;
            text-align: left;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 24px;
            font-weight: 400;
            position: absolute;
            left: 1103px;
            top: 48px;
        }
        .div5 {
            color: #ffffff;
            text-align: left;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 32px;
            font-weight: 400;
            position: absolute;
            left: 304px;
            top: 669px;
            width: 237px;
        }
        .div6 {
            color: #4b4b4b;
            text-align: left;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 24px;
            font-weight: 400;
            position: absolute;
            left: 1241px;
            top: 49px;
        }
        .ai {
            color: #576096;
            text-align: left;
            font-family: "SCoreDream-4Regular", sans-serif;
            font-size: 32px;
            font-weight: 400;
            position: absolute;
            left: 275px;
            top: 478px;
        }
        .ai-ai {
            color: #576096;
            text-align: left;
            position: absolute;
            left: 255px;
            top: 1163px;
        }
        .ai-ai-span {
            color: #576096;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 36px;
            font-weight: 400;
        }
        .ai-ai-span2 {
            color: #576096;
            font-family: "SCoreDream-4Regular", sans-serif;
            font-size: 32px;
            font-weight: 400;
        }
        .ai2 {
            color: #576096;
            text-align: right;
            position: absolute;
            left: 749px;
            top: 1995px;
        }
        .ai-2-span {
            color: #576096;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 36px;
            font-weight: 400;
        }
        .ai-2-span2 {
            color: #576096;
            font-family: "SCoreDream-4Regular", sans-serif;
            font-size: 32px;
            font-weight: 400;
        }
        .div7 {
            color: #576096;
            text-align: left;
            position: absolute;
            left: 190px;
            top: 2831px;
        }
        .div-7-span {
            color: #576096;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 36px;
            font-weight: 400;
        }
        .div-7-span2 {
            color: #576096;
            font-family: "SCoreDream-4Regular", sans-serif;
            font-size: 32px;
            font-weight: 400;
        }
        .div8 {
            text-align: center;
            position: absolute;
            left: 187px;
            top: 4098px;
            width: 1040px;
            height: 96px;
        }
        .div-8-span {
            color: #4b4b4b;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 40px;
            font-weight: 400;
        }
        .div-8-span2 {
            color: #576096;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 64px;
            font-weight: 400;
        }
        .div-8-span3 {
            color: #fb9c1f;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 64px;
            font-weight: 400;
        }
        .div-8-span4 {
            color: #4b4b4b;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 40px;
            font-weight: 400;
        }
        .div9 {
            text-align: left;
            font-family: "SCoreDream-8Heavy", sans-serif;
            font-size: 64px;
            font-weight: 400;
            position: absolute;
            left: 255px;
            top: 990px;
            width: 688px;
            height: 156px;
        }
        .div-9-span {
            color: #576096;
            font-family: "SCoreDream-8Heavy", sans-serif;
            font-size: 64px;
            font-weight: 400;
        }
        .div-9-span2 {
            color: #fb9c1f;
            font-family: "SCoreDream-8Heavy", sans-serif;
            font-size: 64px;
            font-weight: 400;
        }
        .div10 {
            text-align: right;
            font-family: "SCoreDream-8Heavy", sans-serif;
            font-size: 64px;
            font-weight: 400;
            position: absolute;
            left: 567px;
            top: 1817px;
            width: 688px;
            height: 156px;
        }
        .div-10-span {
            color: #576096;
            font-family: "SCoreDream-8Heavy", sans-serif;
            font-size: 64px;
            font-weight: 400;
        }
        .div-10-span2 {
            color: #fb9c1f;
            font-family: "SCoreDream-8Heavy", sans-serif;
            font-size: 64px;
            font-weight: 400;
        }
        .div11 {
            text-align: left;
            font-family: "SCoreDream-8Heavy", sans-serif;
            font-size: 64px;
            font-weight: 400;
            position: absolute;
            left: 184px;
            top: 2591px;
            width: 827px;
            height: 227px;
        }
        .div-11-span {
            color: #576096;
            font-family: "SCoreDream-8Heavy", sans-serif;
            font-size: 64px;
            font-weight: 400;
        }
        .div-11-span2 {
            color: #fb9c1f;
            font-family: "SCoreDream-8Heavy", sans-serif;
            font-size: 64px;
            font-weight: 400;
        }
        .vector-6 {
            width: 401px;
            height: 657px;
            position: absolute;
            left: 785px;
            top: 939px;
            overflow: visible;
        }
        .vector-5 {
            width: 401px;
            height: 657px;
            position: absolute;
            left: 861px;
            top: 944px;
            overflow: visible;
        }
        ._001-1 {
            width: 705px;
            height: 705px;
            position: absolute;
            left: 838px;
            top: 930px;
            object-fit: cover;
        }
        ._001-12 {
            width: 705px;
            height: 705px;
            position: absolute;
            left: 0px;
            top: 1732px;
            object-fit: cover;
        }
        ._001-13 {
            width: 622px;
            height: 743px;
            position: absolute;
            left: 836px;
            top: 2555px;
            object-fit: cover;
        }
        .rectangle-319 {
            background: #fb9c1f;
            border-radius: 100px;
            border-style: solid;
            border-color: #576096;
            border-width: 7px;
            width: 811px;
            height: 107px;
            position: absolute;
            left: 332px;
            top: 3730px;
        }
        .div12 {
            color: #ffffff;
            text-align: center;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 40px;
            font-weight: 400;
            position: absolute;
            left: 389px;
            top: 3756px;
            width: 698px;
            height: 55px;
        }
        .div13 {
            color: #4b4b4b;
            text-align: center;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 48px;
            font-weight: 400;
            position: absolute;
            left: 294px;
            top: 3430px;
        }
        .div14 {
            text-align: center;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 36px;
            font-weight: 400;
            position: absolute;
            left: 235px;
            top: 3558px;
        }
        .div-14-span {
            color: #576096;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 36px;
            font-weight: 400;
        }
        .div-14-span2 {
            color: #ed9118;
            font-family: "SCoreDream-7ExtraBold", sans-serif;
            font-size: 36px;
            font-weight: 400;
        }
    </style>
</head>
<body>
<div class="_044">
    <img class="component-1-1" src="/images/component-1-10.png" />
    <div class="rectangle-314"></div>
    <div class="rectangle-317"></div>
    <img class="line-23" src="line-230.svg" />
    <img class="line-24" src="line-240.svg" />
    <img class="line-25" src="line-250.svg" />
    <img class="line-26" src="line-260.svg" />
    <img class="line-27" src="line-270.svg" />
    <img class="line-28" src="line-280.svg" />
    <img class="line-29" src="line-290.svg" />
    <div class="div">
    <span>
      <span class="div-span">에듀</span>
      <span class="div-span2">스마일</span>
    </span>
    </div>
    <div class="div2">
    <span>
      <span class="div-2-span">에듀</span>
      <span class="div-2-span2">스마일</span>
    </span>
    </div>
    <img class="_1" src="/images/_1.png"/>
    <img class="_2" src="/images/_1.png" />
    <div class="div3">
        교사의 시간을 아끼고,
        <br />
        교육의 본질을 되찾습니다
    </div>
    <div class="rectangle-315"></div>
    <div class="rectangle-318"></div>
    <div class="rectangle-316"></div>
    <div class="div4">로그인</div>
    <div class="div5">서비스 시작하기</div>
    <div class="div6">회원가입</div>
    <div class="ai">
        에듀스마일은 AI 기술로
        <br />
        교사의 업무를 간소화하고,
        <br />
        학생 맞춤형 교육을 지원하는
        <br />
        스마트한 교육 도우미입니다.
    </div>
    <div class="ai-ai">
    <span>
      <span class="ai-ai-span">
        교사를 위한 AI 도우미
        <br />
      </span>
      <span class="ai-ai-span2">
        반복적인 행정 업무는 AI에게 맡기고,
        <br />
        수업과 학생 상담에 집중하세요.
      </span>
    </span>
    </div>
    <div class="ai2">
    <span>
      <span class="ai-2-span">
        학생 맞춤형 피드백 강화
        <br />
      </span>
      <span class="ai-2-span2">
        생활기록부 분석과 AI 상담 요약으로
        <br />
        학생 한 명, 한 명에게
        <br />
        최적화된 지원을 제공합니다.
      </span>
    </span>
    </div>
    <div class="div7">
    <span>
      <span class="div-7-span">
        효율적인 수업 관리
        <br />
      </span>
      <span class="div-7-span2">
        실시간 수업 분석과 자동 문제 생성으로
        <br />
        준비 시간을 단축하고,
        <br />
        수업의 질을 높입니다.
      </span>
    </span>
    </div>
    <div class="div8">
    <span>
      <span class="div-8-span">지금 바로</span>
      <span class="div-8-span2">에듀</span>
      <span class="div-8-span3">스마일</span>
      <span class="div-8-span4">
        과 함께하세요.
        <br />
        교육의 미래가 여러분을 기다립니다.
      </span>
    </span>
    </div>
    <div class="div9">
    <span>
      <span class="div-9-span">
        업무의 부담을
        <br />
      </span>
      <span class="div-9-span2">이제는 줄이세요.</span>
    </span>
    </div>
    <div class="div10">
    <span>
      <span class="div-10-span">
        학생들의 진로 고민,
        <br />
      </span>
      <span class="div-10-span2">한눈에 보게 해드릴게요.</span>
    </span>
    </div>
    <div class="div11">
    <span>
      <span class="div-11-span">
        긴 수업도 문제없어요.
        <br />
      </span>
      <span class="div-11-span2">
        이보다 효율적인 수업은
        <br />
        없죠!
      </span>
    </span>
    </div>
    <img class="_001-1" src="/images/index1.png" />
    <img class="_001-12" src="/images/index2.png" />
    <img class="_001-13" src="/images/index3.png" />
    <div class="rectangle-319"></div>
    <div class="div12">지금 바로 에듀스마일 시작하기</div>
    <div class="div13">에듀스마일과 함께하는 매일은 든든합니다.</div>
    <div class="div14">
    <span>
      <span class="div-14-span">
        에듀스마일은 교육 현장의 부담을 덜고,
        <br />
        교사와 학생 모두가 더 행복한 환경을 만드는 것을 목표로 합니다.
        <br />
      </span>
      <span class="div-14-span2">
        우리의 비전과 함께 희망찬 교육을 만들어 봅시다.
      </span>
    </span>
    </div>
</div>
</body>
</html>