<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        ._009,
        ._009 * {
            box-sizing: border-box;
        }
        ._009 {
            background: #fcf2d4;
            height: 1024px;
            position: relative;
        }
        .frame-37 {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            justify-content: flex-start;
            width: 1460px;
            position: absolute;
            left: -10px;
            top: 902px;
        }
        .rectangle-322 {
            background: #343258;
            align-self: stretch;
            flex-shrink: 0;
            height: 112px;
            position: relative;
        }
        .rectangle-321 {
            width: 1440px;
            height: 112px;
            position: absolute;
            left: 0px;
            top: 912px;
            overflow: visible;
        }
        .div {
            color: #ffffff;
            text-align: center;
            font-family: "SCoreDream-6Bold", sans-serif;
            font-size: 20px;
            font-weight: 400;
            position: absolute;
            left: 306px;
            top: 928px;
            width: 152px;
            height: 44px;
        }
        .div2 {
            color: #ffffff;
            text-align: center;
            font-family: "SCoreDream-6Bold", sans-serif;
            font-size: 20px;
            font-weight: 400;
            position: absolute;
            left: 893px;
            top: 928px;
            width: 254px;
        }
        .frame-40 {
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: flex-start;
            justify-content: flex-start;
            width: 1265px;
            position: absolute;
            left: 87px;
            top: 171px;
        }
        .rectangle-42 {
            background: #576096;
            border-radius: 30px;
            border-style: solid;
            border-color: #fb9c1f;
            border-width: 3px;
            flex-shrink: 0;
            width: 222px;
            height: 54px;
            position: relative;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
        .frame-38 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            justify-content: flex-start;
            align-self: stretch;
            flex-shrink: 0;
            height: auto;
            position: relative;
            overflow: visible;
        }
        .rectangle-31 {
            background: #f3bb4e;
            border-radius: 15px;
            border-style: solid;
            border-color: #576096;
            border-width: 3px;
            flex-shrink: 0;
            width: 1120px;
            height: 99px;
            position: absolute;
            left: 71px;
            top: 121px;
        }
        .rectangle-18 {
            background: #ffffff;
            border-radius: 15px;
            flex-shrink: 0;
            width: 1118px;
            height: 99px;
            position: absolute;
            left: 71px;
            top: 264px;
        }
        .rectangle-19 {
            background: #ffffff;
            border-radius: 15px;
            flex-shrink: 0;
            width: 1120px;
            height: 99px;
            position: absolute;
            left: 75px;
            top: 417px;
        }
        .div3 {
            color: #ffffff;
            text-align: left;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 32px;
            font-weight: 400;
            position: absolute;
            left: 127px;
            top: 180px;
        }
        .frame-42 {
            display: flex;
            flex-direction: row;
            gap: 0px;
            align-items: center;
            justify-content: flex-start;
            width: 1440px;
            height: 80px;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .frame-11 {
            background: #576096;
            flex-shrink: 0;
            width: 1440px;
            height: 80px;
            position: absolute;
            left: 0px;
            top: 0px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
        .rectangle-316 {
            background: #f19b2a;
            border-radius: 100px;
            width: 172px;
            height: 62px;
            position: absolute;
            left: 1224px;
            top: 11px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
        .rectangle-317 {
            border-radius: 0px;
            width: 172px;
            height: 62px;
            position: absolute;
            left: 989px;
            top: 11px;
            overflow: visible;
        }
        .div4 {
            color: #4b4b4b;
            text-align: left;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 36px;
            font-weight: 400;
            position: absolute;
            left: 1027px;
            top: 22px;
        }
        .div5 {
            color: #4b4b4b;
            text-align: left;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 36px;
            font-weight: 400;
            position: absolute;
            left: 1272px;
            top: 22px;
        }
        .div6 {
            text-align: center;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 48px;
            font-weight: 400;
            position: relative;
            width: 263px;
            height: 62px;
        }
        .div-6-span {
            color: #fcf2d4;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 48px;
            font-weight: 400;
        }
        .div-6-span2 {
            color: #f19b2a;
            font-family: "HakgyoansimDunggeunmisoOtf-B", sans-serif;
            font-size: 48px;
            font-weight: 400;
        }
        ._3 {
            flex-shrink: 0;
            width: 69px;
            height: 75px;
            position: relative;
            object-fit: cover;
        }
        ._1 {
            color: #000000;
            text-align: left;
            font-family: "SCoreDream-4Regular", sans-serif;
            font-size: 36px;
            font-weight: 400;
            position: absolute;
            left: 167px;
            top: 321px;
            width: 375px;
            height: 44px;
        }
        .frame-39 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            justify-content: flex-start;
            width: 567px;
            height: auto;
            position: absolute;
            left: 842px;
            top: 71px;
            overflow: visible;
        }
        .div7 {
            color: #4b4b4b;
            text-align: left;
            font-family: "SCoreDream-5Medium", sans-serif;
            font-size: 36px;
            font-weight: 400;
            position: absolute;
            left: 926px;
            top: 272px;
        }
        .div8 {
            color: #4b4b4b;
            text-align: left;
            font-family: "SCoreDream-5Medium", sans-serif;
            font-size: 36px;
            font-weight: 400;
            position: absolute;
            left: 884px;
            top: 202px;
        }
        .div9 {
            color: #4b4b4b;
            text-align: left;
            font-family: "SCoreDream-5Medium", sans-serif;
            font-size: 36px;
            font-weight: 400;
            position: absolute;
            left: 893px;
            top: 128px;
        }
        .rectangle-320 {
            background: #576096;
            width: 6px;
            height: 245px;
            position: absolute;
            left: 1126px;
            top: 90px;
        }
        .ellipse-1 {
            width: 105px;
            height: 105px;
            position: absolute;
            left: 1203px;
            top: 98px;
            overflow: visible;
        }
        .material-symbols-person {
            width: 101px;
            height: 100px;
            position: absolute;
            left: 1205px;
            top: 98px;
            overflow: visible;
        }

    </style>
</head>
<body>
<div class="_009">
    <div class="frame-37">
        <div class="rectangle-322"></div>
    </div>
    <img class="rectangle-321" src="rectangle-3210.svg" />
    <div class="div">학교주소</div>
    <div class="div2">학교 전화번호</div>
    <div class="frame-40">
        <div class="rectangle-42"></div>
        <img class="frame-38" src="frame-380.svg" />
        <div class="rectangle-31"></div>
        <div class="rectangle-18"></div>
        <div class="rectangle-19"></div>
    </div>
    <div class="div3">오늘의 할일</div>
    <div class="frame-42">
        <div class="frame-11">
            <div class="rectangle-316"></div>
            <img class="rectangle-317" src="rectangle-3170.svg" />
            <div class="div4">게시판</div>
            <div class="div5">유저</div>
        </div>
        <div class="div6">
      <span>
        <span class="div-6-span">에듀</span>
        <span class="div-6-span2">스마일</span>
      </span>
        </div>
        <img class="_3" src="_30.png" />
    </div>
    <div class="_1">1교시 준비물 : 연필</div>
    <img class="frame-39" src="frame-390.svg" />
    <div class="div7">로그아웃</div>
    <div class="div8">교사 페이지</div>
    <div class="div9">마이페이지</div>
    <div class="rectangle-320"></div>
    <img class="ellipse-1" src="ellipse-10.svg" />
    <img class="material-symbols-person" src="material-symbols-person0.svg" />
</div>
</body>
</html>