<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>signup</title>
    <link rel="stylesheet" href="/css/signup_teacher.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!-- d
<form action="/user/signupsave" method="post" oninput="return validateForm()">

    {{#duplication}}
        <div class="alert alert-danger" role="alert">
            이미 존재하는 ID 입니다.
        </div>
    {{/duplication}}
    <div class="mb-3">
        <label for="ID 입력" class="form-label">회원 ID</label>
        <input type="text" class="form-control" id="LoginId" name="loginId" maxlength='30' required>
        <div id="idError" class="text-danger" style="display: none;">아이디는 6-12자의 영문, 숫자, 기호(-, _)만 사용 가능합니다.</div>
    </div>
    <div class="mb-3">
        <label for="비번입력" class="form-label">비밀번호</label>
        <input type="password" class="form-control" id="password" name="password" maxlength='30' required>
        <div id="passwordError" class="text-danger" style="display: none;">비밀번호는 6-15자의 영문, 숫자, 특수문자가 하나 이상 필요합니다.(숫자로 시작 불가)</div>
    </div>
    <div class="mb-3">
        <label for="이름입력" class="form-label">이름</label>
        <input type="text" class="form-control" id="name" name="name" maxlength='30' required>
        <div id="nameError" class="text-danger" style="display: none;">이름은 한글 또는 영어로만 입력 가능합니다.</div>
    </div>
    <div class="mb-3">
        <label for="전화번호" class="form-label">전화번호</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" maxlength='13' required>
        <div id="phoneError" class="text-danger" style="display: none;">전화번호는 숫자와 (-) 만 입력 가능합니다.</div>
    </div>
    <div class="mb-3">
        <label for="학교이름" class="form-label">학교명</label>
        <input type="text" class="form-control" id="school" name="school" maxlength='20' required>
    </div>
    <div class="mb-3">
        <label for="반번호" class="form-label">반</label>
        <input type="number" class="form-control" id="schoolClass" name="schoolClass" maxlength='2' required>
    </div>
    <input type="hidden" id="role" name="role" value="teacher">
    <button type="submit" id="submitButton" class="btn btn-primary" disabled>회원가입</button>
    <a target="_blank" href="/user/login" id="signup" class="find_text">로그인</a>
</form>
-->

<div class="_002">
    <form action="/user/signupsave" method="post" oninput="return validateForm()">
        <div class="full">
            <div class="div">개인정보 보호 동의서</div>
            <div class="div2">

            </div>
            {{#duplication}}
                <div class="duplication-danger" role="alert">
                    이미 존재하는 ID 입니다.
                </div>
            {{/duplication}}
            <div class="id">
                ID<input type="text" class="form-control-id" id="LoginId" name="loginId" maxlength='30' required>

                <div id="idError" class="text-danger" style="font-size: 1vw; display: none;">아이디는 6-12자의 영문, 숫자, 기호(-, _)만 사용 가능합니다.</div>
            </div>

            <div class="div3">
                비밀번호<input type="password" class="form-control-pw" id="password" name="password" maxlength='30' required>
                <div id="passwordError" class="text-danger" style="font-size: 1vw; display: none;">비밀번호는 6-15자의 영문, 숫자, 특수문자가 하나 이상 필요합니다.</div>
            </div>

            <div class="div4">
                비밀번호 확인<input type="password" class="form-control-pwcheck" id="samepassword" name="samepassword" maxlength='30' required>
                <div id="SamepasswordError" class="text-danger" style="font-size: 1vw; display: none;">비밀번호가 일치 하지 않습니다</div>
            </div>


            <div class="div8">
                이름<input type="text" class="form-control-name" id="name" name="name" maxlength='30' required>
                <div id="nameError" class="text-danger" style="font-size: 1vw;  display: none;">이름은 한글 또는 영어로만 입력 가능합니다.</div>
            </div>
            <div class="div9">
                전화 번호<input type="tel" class="form-control-pnumber" id="phoneNumber" name="phoneNumber" maxlength='11' required>
                <div id="phoneError" class="text-danger" style="font-size: 1vw; display: none;">전화번호는 숫자만 입력 가능합니다.</div>
            </div>
            <div class="div10">
                학교 이름<input type="text" class="form-control-school" id="school" name="school" maxlength='20' required>
            </div>

            <div class="class">
                <label for="반번호" class="form-label">반</label>
                <input type="number" class="form-control-class" id="schoolClass" name="schoolClass" maxlength='2' required>
            </div>

            <div class="grade">
                <label for="학년" class="form-label">학년</label>
                <input type="number" class="form-control-class" id="schoolClass" name="schoolgrade" maxlength='2' required>
            </div>

            <div class="frame-12">
                <img class="polygon-2" src="/css/images/polygon-20.svg" />
                <img class="_3" src="/images/_30.png" />
                <div class="div12">교사 회원가입</div>
            </div>
            <div class="rectangle-1062">개인정보 어쩌구 저쩌구</div>
            <input type="hidden" id="role" name="role" value="teacher">

        </div>
        <button type="submit" id="submitButton" class="signup-btn" disabled>회원가입</button>
    </form>
    <button type="submit" id="backtologin-btn" class="back-btn">
        <a target="_self" id="btlogin" class="btlogin"  href="/user/login"><< 로그인으로 돌아가기</a>
    </button>
    <img class="line-31" src="/images/line-31.svg" />
    <div class="main-box"></div>
    <div class="line1"></div>
</div>



<script>

    function validateForm() {

        //아이디 유효성
        var id = document.getElementById("LoginId").value;
        var idregex = /^(?![0-9]{6,12}$)[a-zA-Z0-9-_]{6,14}$/; //정규식 // 6-14자 영문, 숫자, 기호(-, _)만 허용 //숫자만은 불가
        var iderrorMessage = document.getElementById("idError");

        if (!idregex.test(id)) {
            iderrorMessage.style.display = "block"; // 에러
            document.getElementById("submitButton").disabled = true; // 제출 버튼 비활성화
            return false;
        } else {
            iderrorMessage.style.display = "none"; // 에러 x
        }


        //비번 유효성
        var password = document.getElementById("password").value;
        var passwordregex = /^(?!\d)(?=[a-zA-Z0-9~․!@#$%^&*()_\-+=\[\]{}|\\;:'"<>,.?/]*[~․!@#$%^&*()_\-+=\[\]{}|\\;:'"<>,.?/])[a-zA-Z0-9~․!@#$%^&*()_\-+=\[\]{}|\\;:'"<>,.?/]{6,15}$/ ; //비밀번호는 6-15자의 영문, 숫자, 특수문자만 사용 가능합니다.(숫자로 시작 불가) //

        var passworderrorMessage = document.getElementById("passwordError");

        if (!passwordregex.test(password)) {
            passworderrorMessage.style.display = "block"; // 에러
            document.getElementById("submitButton").disabled = true; // 제출 버튼 비활성화
            return false;
        } else {
            passworderrorMessage.style.display = "none"; // 에러 x
        }

        //비번 재확인 유효성
        var samepassword = document.getElementById("samepassword").value;

        var SamepassworderrorMessage = document.getElementById("SamepasswordError");

        if (password != samepassword) {
            SamepassworderrorMessage.style.display = "block"; // 에러
            document.getElementById("submitButton").disabled = true; // 제출 버튼 비활성화
            return false;
        } else {
            SamepassworderrorMessage.style.display = "none"; // 에러 x
        }

        //이름 유효성
        var name = document.getElementById("name").value;
        var nameregex =/^[a-zA-Z]+$|^[가-힣]+$/; //한글로만 또는 영어로만 // 숫자 x
        var nameerrorMessage = document.getElementById("nameError");

        if (!nameregex.test(name)) {
            nameerrorMessage.style.display = "block"; // 에러
            document.getElementById("submitButton").disabled = true; // 제출 버튼 비활성화
            return false;
        } else {
            nameerrorMessage.style.display = "none"; // 에러 x
        }

        //전화번호 유효성
        var phone = document.getElementById("phoneNumber").value;
        var phoneregex =/^\d*$/; // 숫자와 - 만 사용 - 연속이나 맨앞 불가
        var phoneerrorMessage = document.getElementById("phoneError");

        if (!phoneregex.test(phone)) {
            phoneerrorMessage.style.display = "block"; // 에러
            document.getElementById("submitButton").disabled = true; // 제출 버튼 비활성화
            return false;
        } else {
            phoneerrorMessage.style.display = "none"; // 에러 x
        }

        // 모든 검사를 통과해야 제출 가능
        document.getElementById("submitButton").disabled = false;
        return true;
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
