{{>header}}



<link rel="stylesheet" href="/css/student_recode.css">
<div class="ai-020">
    <div class="left-box" >
        <button class="teacher-button" type="button" >
            <a target="_self" id="btlogin" class="btlogin"  href="/teacher">교사페이지</a>
        </button>
        <a target="_self" id="back-btn" class="back-btn"  href="/teacher"><<< 뒤로가기</a>
    </div>
    <div class="div-choice" >학생 선택하기</div>
    <div class="main-box" >
        {{#students}}
            <div  class="student-div" id="student"><img id="profile_Image" class="blank_profile"  src="{{img_path}}"
                                                        onerror="this.src='/blank_profile/blank_profile.svg';" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0{{phoneNumber}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{School}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{schoolClass}}반<a href="/teacher/student_recode/{{id}}" id="edit-button" class="edit-button">등록하기</a></div>
        {{/students}}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {                //로그인 데이터 위아래로 위치하기
        const studentElement = document.querySelectorAll('.student-div');

        function updatePositions() {
            const windowHeight = window.innerHeight;  // 화면 높이 가져오기

            studentElement.forEach((element, index) => {
                // 화면 높이를 기준으로 비례적인 값을 계산 (40px 기준으로)
                const topValue = (index * 0.17) * windowHeight;  // 5%씩 증가하도록 계산 (조정 가능)

                element.style.top = `${topValue}px`;
                element.style.position = 'absolute';  // position을 절대값으로 설정
            });


        }

        var fileName = "{{#students}}{{img_path}}{{/students}}";

        fetch("/signed-url?fileName=" + encodeURIComponent(fileName))   //특수문자 같은거 인코딩
                .then(response => response.text())
                .then(url => {
                    document.getElementById("profile_Image").src = url;
                })
                .catch(error => console.error("Error loading image:", error));


        // 처음 로드 시와 화면 크기가 변경될 때마다 업데이트
        updatePositions();

        window.addEventListener('resize', function() {
            updatePositions();  // 화면 크기 조정 시 위치 업데이트
        });
    });

</script>

{{>footer}}