{{>header}}
<style>
    .ai-020,
    .ai-020 * {
        box-sizing: border-box;
    }
    .ai-020 {
        background: #fcf2d4;
        height: 50vw;
        position: relative;
        overflow: hidden;
    }
    .left-box {
        width: 15vw; /* 가로 길이 */
        height: 47vw; /* 세로 길이 */
        background-color: #F6E1A0; /* 배경색 (임의 지정) */
        border-radius: 15px; /* 모서리를 둥글게 */
        margin-top: 1.5vw; /* 위쪽 마진 */
        margin-bottom: 1.5vw; /* 아래쪽 마진 */
        margin-left: 1vw; /* 왼쪽 마진 0으로 설정 */
        margin-right: 0; /* 오른쪽 마진 0으로 설정 */
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .teacher-button
    {
        background: #576096;
        border-radius: 30px;
        font-family: "Score6", sans-serif;
        font-size:1.3vw;
        color:#FFFFFF;
        border-style: solid;
        border-color: #f19b2a;
        border-width: 0.5vw;
        width: 10vw;
        height: 5vw;
        left:3.5vw;
        top:5vw;
        position: absolute;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .div-choice{
        border-radius: 30px;
        border-style: solid;
        background: #f19b2a;
        font-family: "Score6", sans-serif;
        font-size:1.3vw;
        color:#FFFFFF;
        border-width: 0.2vw;
        width: 11vw;
        height: 3vw;
        left:18vw;
        top: 2.6vw;
        position: absolute;
        display: flex;               /* Flexbox를 사용하여 내부 콘텐츠를 중앙 정렬 */
        justify-content: center;     /* 수평 중앙 정렬 */
        align-items: center;         /* 수직 중앙 정렬 */
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .main-box {
        border-radius: 30px;
        background: #F6E1A0;
        font-family: "Score6", sans-serif;
        font-size: 1.3vw;
        border-width: 0.2vw;
        width: 78vw;  /* 너비를 vw로 설정 */
        height: 41.5vw;  /* 높이를 vh로 설정 */
        left: 18vw;  /* 좌측 위치를 vw로 설정 */
        top: 7vw;    /* 상단 위치를 vh로 설정 */
        position: absolute;
        display: flex;
        flex-direction: column; /* 세로로 정렬 */
        justify-content: flex-start;  /* 위에서부터 정렬 */
        align-items: center;  /* 가로 중앙 정렬 */
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        overflow-y: auto;
        padding-top: 2vh; /* 상단 여백을 vh로 설정 */
    }

    .student-div {
        border-style: solid;
        text-decoration: none;
        border-radius: 15px;
        background: #FFFFFF;

        font-family: "Score6", sans-serif;
        font-size: 1.3vw;
        border-color: #576096;
        color: #000000;
        border-width: 0.2vw;
        width: 60vw;  /* 너비를 vw로 설정 */
        height: 4vw;  /* 높이를 vh로 설정 */
        margin-top: 4vw;  /* 세로 간격을 vh로 설정 */
        display: flex;
        padding-left:3vw;
        justify-content: left;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .btlogin
    {
        font-size: 1.3vw;
        text-decoration: none; /* 밑줄 없애기 */
        color: inherit;        /* 텍스트 색상을 부모 요소의 색상으로 상속 */
        left: 17vw;
        top: 53vw;
    }
    .blank_profile{
        height: 3vw;
        width: 3vw;
        border: 0.1vw solid #576096; /* 테두리 두께와 색상 설정 */

    }
    .edit-button{
        border-radius: 30px;
        border-style: solid;
        background: #f19b2a;
        font-family: "Score6", sans-serif;
        font-size:1.3vw;
        color:#FFFFFF;
        border-width: 0.2vw;
        width: 10vw;
        height: 2.5vw;
        text-decoration: none; /* 밑줄 없애기 */
        left:45vw;
        top: 0.5vw;
        position: absolute;
        display: flex;               /* Flexbox를 사용하여 내부 콘텐츠를 중앙 정렬 */
        justify-content: center;     /* 수평 중앙 정렬 */
        align-items: center;         /* 수직 중앙 정렬 */
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .back-btn{
        color:#908282;
        font-size: 1.3vw;
        text-decoration: none; /* 밑줄 없애기 */
        left: 2vw;
        top: 46vw;
        position: absolute;
    }
</style>


<div class="ai-020">
    <div class="left-box" >
        <button class="teacher-button" type="button" >
            <a target="_self" id="btlogin" class="btlogin"  href="/teacher">교사페이지</a>
        </button>
        <a target="_self" id="back-btn" class="back-btn"  href="/teacher"><<< 뒤로가기</a>
    </div>
    <div class="div-choice" >학생 선택하기</div>
    <div class="main-box" >
        {{#students}}
            <div  class="student-div" id="student"><img id="profile_Image" class="blank_profile"  src="{{img_path}}"
                                                        onerror="this.src='/blank_profile/blank_profile.svg';" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0{{phoneNumber}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{School}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{schoolClass}}반<a href="/teacher/student_recode/{{id}}" id="edit-button" class="edit-button">등록하기</a></div>
        {{/students}}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {                //로그인 데이터 위아래로 위치하기
        const studentElement = document.querySelectorAll('.student-div');

        function updatePositions() {
            const windowHeight = window.innerHeight;  // 화면 높이 가져오기

            studentElement.forEach((element, index) => {
                // 화면 높이를 기준으로 비례적인 값을 계산 (40px 기준으로)
                const topValue = (index * 0.17) * windowHeight;  // 5%씩 증가하도록 계산 (조정 가능)

                element.style.top = `${topValue}px`;
                element.style.position = 'absolute';  // position을 절대값으로 설정
            });


        }

        var fileName = "{{#students}}{{img_path}}{{/students}}";

        fetch("/signed-url?fileName=" + encodeURIComponent(fileName))   //특수문자 같은거 인코딩
                .then(response => response.text())
                .then(url => {
                    document.getElementById("profile_Image").src = url;
                })
                .catch(error => console.error("Error loading image:", error));


        // 처음 로드 시와 화면 크기가 변경될 때마다 업데이트
        updatePositions();

        window.addEventListener('resize', function() {
            updatePositions();  // 화면 크기 조정 시 위치 업데이트
        });
    });

</script>

{{>footer}}