{{>header}}


<link rel="stylesheet" href="/css/summaryDetail.css">
<!-- 레이아웃 -->
<div class="layout">
    <!-- 사이드바 -->
    <aside class="sidebar">
        <a href="/board/noticeList?id={{subjectId}}">공지사항</a>
        <a href="/board/summaryList?id={{subjectId}}"class="active">수업요약</a>
        <a href="/board/testList?id={{subjectId}}">시험</a>
        <a href="/board/freeList?id={{subjectId}}">자유게시판</a>
    </aside>
    <!-- 메인 콘텐츠 -->
    <div class="main-content">
        <div class="notice-container">
            {{#summary}}
            <div class="notice-row">
                <div class="notice-item notice-title">{{title}}</div>
                <div class="notice-item notice-author">{{author}}</div>
                <div class="notice-item notice-date">{{created}}</div>
                <div class="notice-item notice-views">{{views}}</div>

            </div>
            <div style="width: 100%;height: 100%;background-color: white;margin-top: 3%;padding: 15px;overflow: auto">
                <pre>{{summary}}</pre>
            </div>
            {{/summary}}

            {{#author}}
            <div class="button-container-bottom">
                <button class="write-button" style="margin: 10px;" onclick="deletePost()">
                    삭제하기
                </button>
                <button class="write-button" style="margin: 10px;" onclick="navigateTo('/board/summary/update?id={{subjectId}}&num={{summary.id}}')">
                수정하기
                </button>
            </div>
            {{/author}}
        </div>
    </div>
</div>

<script>
    function navigateTo(url) {
        window.location.href = url; // 클릭 시 URL로 이동
    }

    function deletePost() {
        if (confirm("정말 삭제하시겠습니까?")) {
            fetch(`/board/summary/delete?num={{summary.id}}`, {
                method: "DELETE"
            }).then(response => {
                if (response.ok) {
                    alert("삭제 완료!");
                    window.location.href = `/board/summaryList?id={{subjectId}}`;
                } else {
                    alert("삭제 실패");
                }
            }).catch(error => console.error("Error:", error));
        }
    }
</script>
{{>footer}}

