{{>header}}




<!-- 레이아웃 -->

<link rel="stylesheet" href="/css/summaryUpdate.css">
<div class="layout">
    <!-- 사이드바 -->
    <aside class="sidebar">
        <a href="/board/noticeList?id={{subjectId}}">공지사항</a>
        <a href="/board/summaryList?id={{subjectId}}"class="active">수업요약</a>
        <a href="/board/testList?id={{subjectId}}">시험</a>
        <a href="/board/freeList?id={{subjectId}}">자유게시판</a>
    </aside>
    <!-- 메인 콘텐츠 -->
    <div class="main-content">
        <div class="notice-container">
            <form action="/board/summary/update" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; width: 100%;">
            {{#summary}}
                <input type="hidden" name="id" value="{{id}}">
                <div style="display: flex; align-items: center; margin-bottom: 10px;width: 100%;border-radius: 20px;background-color: white; padding: 5px">
                    <label for="title" style="padding-left: 20px;">제목 :</label>
                    <input type="text" id="title" name="title" maxlength="99" value="{{title}}" required style="flex: 1;border:none; outline: none;width: 80%;padding-left: 10px;border-radius: 20px ">
                    <span id="titleCount" style="color: #939393">0/100</span>
                </div>
                <div style="display: flex; gap: 10px; margin-bottom: 10px;width: 100%; border-radius: 20px;background-color: white; padding: 5px">
                    <div style="display: flex; align-items: center; flex: 1;padding-left: 20px;padding-right: 20px;">
                        <label for="category" style="width: 60px;">분류:</label>
                        <input type="text" id="category" name="category" value="수업요약" readonly style="flex: 1;border:none; outline: none">
                    </div>
                    <div style="display: flex; align-items: center; flex: 1;">
                        <label for="createdAt" style="width: 60px;">마지막 수정일:</label>
                        <input type="text" id="createdAt" name="createdAt" value="{{updated}}" readonly style="flex: 1;border:none; outline: none">
                    </div>
                    <div style="display: flex; align-items: center; flex: 1;">
                        <label for="author" style="width: 60px;">작성자:</label>
                        <input type="text" id="author" name="author" value="{{author}}" required style="flex: 1;border:none; outline: none;border-radius: 20px">
                    </div>
                </div>

                <textarea id="content" name="content" rows="5" required style="min-height: 60vh">{{summary}}</textarea>
            {{/summary}}
                <div class="button-container-bottom">
                    <button class="write-button" type="submit" style="margin-top: 10px;">작성 완료</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    const input = document.getElementById("title");
    const titleCount = document.getElementById("titleCount");

    input.addEventListener("input", () => {
        titleCount.textContent = `${input.value.length}/100`;
    });

    function navigateTo(url) {
        window.location.href = url; // 클릭 시 URL로 이동
    }

    function removeFile() {
        let fileContainer = document.getElementById("fileDiv");
        let fileStatusInput = document.getElementById("fileStatus");

        let confirmChange = confirm("기존 파일을 제거하시겠습니까?");
        if (confirmChange) {
            fileStatusInput.value = "delete";
            fileContainer.style.display = "none";
        }

    }

    // 새로운 파일 첨부 시 경고창 표시
    document.getElementById("file").addEventListener("change", function() {
        let fileContainer = document.getElementById("fileDiv");
        if (fileContainer && this.files.length > 0) {
            let confirmChange = confirm("기존 파일을 변경하시겠습니까?");
            if (confirmChange) {
                fileContainer.style.display = "none";
            } else {
                this.value = "";
            }
        }
    });
</script>
{{>footer}}

