{{>header}}
<style>
    .main-container {
        display: grid;
        grid-template-columns: 1fr 5fr; /* 왼쪽은 class-info, 오른쪽은 grid */
        min-height: 100vh;
        gap: 100px;
        padding: 20px;
        width: 100%;
        align-items: start; /* 세로 정렬 상단 */
    }

    /* 반 정보 */
    .class-info {
        display: flex; /* Flexbox 사용 */
        flex-direction: column; /* 세로 방향 정렬 */
        align-items: center; /* 가로 중앙 정렬 */
        background-color: transparent;
        padding: 15px;
        border-radius: 10px;
    }

    .class-info h1 {
        font-size: 2.5rem;
        margin: 0;
    }

    .subject-change {
        background-color: #FB9C1F;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    /* 그리드 레이아웃 */
    .grid {
        display: grid;
        width: 85%;
        height: 85%;
        padding: 20px;
        margin-top: 5%;
        grid-template-columns: repeat(2, 1fr); /* 2열 레이아웃 */
        gap: 10px;
    }

    /* 카드 스타일 */
    .card {
        padding: 20px;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
    }
    .cardIn{
        background-color: #F6E1A0;
        padding: 20px;
        width: 100%;
        height: 100%;
        border: none;
        border-radius:15px ;
        display: flex;
        flex-direction: column;
        font-family: Score5;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }
    .cardIn li {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 5px;
        padding: 10px;
    }
    .card h2 {
        margin-top: 0;
    }

    .card ul {
        list-style: none;
        padding: 0;
    }

    .card a {
        text-decoration: none;
        color: black;
    }

    .card a:hover {
        text-decoration: underline;
    }
    .add-button {
        background-color: #FB9C1F;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
    }


    /* 수업 분석 */
    .video-container {
        display: flex;
        justify-content: center; /* 가로 중앙 정렬 */
        align-items: center; /* 세로 중앙 정렬 */
        position: relative; /* 자식 요소들의 위치 조정을 위해 */
        height: 100%;
        background-color: #004D05;
        border-radius: 10px;
    }

    .play-button {
        background-image: url('/images/playClass.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: absolute; /* 중앙 배치를 위해 */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .video-container img {
        position: absolute;
        bottom: 5px; /* 바닥에 붙이기 */
        left: 5px; /* 왼쪽에 붙이기 */
        width: 18%;
        height: 18%;
    }

    .video-container::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5%;
        background-color: #472A00;
    }

    .circle {
        width: 200px; /* 너비 */
        height: 200px; /* 높이 (너비와 동일하게 설정) */
        background-color: #ffffff; /* 배경색 */
        border-radius: 50%; /* 둥글게 만들기 */
        border: 10px solid #F19B2A;
        display: flex; /* 내용 정렬을 위해 flex 사용 */
        justify-content: center; /* 가로 중앙 정렬 */
        align-items: center; /* 세로 중앙 정렬 */
        color: #3C2C95; /* 텍스트 색 */
        font-family: Hakgyo, sans-serif; /* 글꼴 */
        font-size: 40px; /* 글자 크기 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-bottom: 15px;
    }
    .text-button-container {
        display: flex; /* Flexbox 사용 */
        justify-content: space-between; /* 양 끝으로 배치 */
        align-items: center; /* 세로 중앙 정렬 */
        width: 100%; /* 부모 div 너비에 맞게 확장 */
        padding: 10px; /* 여백 추가 */
        background-color: transparent; /* 배경색 (선택 사항) */
        border: 1px solid transparent; /* 테두리 (선택 사항) */
        border-radius: 10px; /* 둥근 모서리 (선택 사항) */
    }

    .text-button-container .text {
        font-size: 1.2rem; /* 텍스트 크기 */
        color: #333; /* 텍스트 색상 */
    }
    .plus{
        background-image: url('/images/plus.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .popup {
        display: none; /* 숨겨진 상태로 시작 */
        position: fixed;
        width: 30%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }


    .overlay {
        display: none; /* 숨겨진 상태로 시작 */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
    .btnAll {
        background-color: #F19B2A;
        color: white;
        border: none;
        padding: 5px 20px;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Score6', sans-serif;
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* 호버 효과 및 애니메이션 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    }

</style>
<div id="back_ground">
    <main class="main-container">
        <div class="popup" id="popup">
            <div style="background-color:#576096; width: 100%; height: 10%; color: white; font-family: Hakgyo; font-size: 25px; display: flex; align-items: center; padding: 10px;">
                수업 추가
            </div>
            <div style="display: flex; justify-content: center; width: 100%;">
                <form method="POST" action="/teacher/classAdd" style="padding: 10px; width: 80%; font-family: Score5; font-size: 20px;">
                    <label for="grade">학년</label>
                    <select id="grade" name="grade" style="background-color: #FFFEFD;
                    opacity: 0.9;
                    border: 1px solid #ddd;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    width: 100%;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    font-family: 'Score5', sans-serif;">
                        <option value="1">1 학년</option>
                        <option value="2">2 학년</option>
                        <option value="3">3 학년</option>
                    </select>

                    <label for="class">분반</label>
                    <input id="class" name="class" style="width: 100%;
                   border: 1px solid #ddd;
                   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                   margin-bottom: 10px;
                   border-radius: 5px;
                   font-family: 'Score5', sans-serif;"
                           placeholder="분반 추가"
                    />

                    <label for="subject">과목</label>
                    <input id="subject" name="subject" style="width: 100%;
                   border: 1px solid #ddd;
                   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                   margin-bottom: 10px;
                   border-radius: 5px;
                   font-family: 'Score5', sans-serif;"
                           placeholder="과목 추가"
                    />

                    <div style="display: flex; align-items: center; justify-content: flex-end; margin-top: 15px; margin-bottom: 15px;">
                        <button type="button" id="closePopup" class="btnAll">취소</button>
                        <button type="submit" class="btnAll" style="margin-left: 15px;">추가</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup" id="updatePopup" style="display: none;">
            <div style="background-color:#576096; width: 100%; height: 10%; color: white; font-family: Hakgyo; font-size: 25px; display: flex; align-items: center; padding: 10px;">
                수업 수정
            </div>
            <div style="display: flex; justify-content: center; width: 100%;">
                <form method="POST" action="/teacher/classUpdate" style="padding: 10px; width: 80%; font-family: Score5; font-size: 20px;">
                    <label for="class">수업코드</label>
                    <p id="updateCodeTitle"  style="width: 100%; border: 1px solid #ddd; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin-bottom: 10px; border-radius: 5px; font-family: 'Score5', sans-serif;"></p>
                    <input id = "updateCode" type="hidden" name="updateCode"/>
                    <label for="grade">학년</label>
                    <select id="updateGrade" name="updateGrade" style="background-color: #FFFEFD; opacity: 0.9; border: 1px solid #ddd; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); width: 100%; margin-bottom: 10px; border-radius: 5px; font-family: 'Score5', sans-serif;">
                        <option value="1">1 학년</option>
                        <option value="2">2 학년</option>
                        <option value="3">3 학년</option>
                    </select>

                    <label for="class">분반</label>
                    <input id="updateClass" name="updateClass" style="width: 100%; border: 1px solid #ddd; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin-bottom: 10px; border-radius: 5px; font-family: 'Score5', sans-serif;" placeholder="분반 수정" />

                    <label for="subject">과목</label>
                    <input id="updateSubject" name="updateSubject" style="width: 100%; border: 1px solid #ddd; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin-bottom: 10px; border-radius: 5px; font-family: 'Score5', sans-serif;" placeholder="과목 수정" />

                    <div style="display: flex; align-items: center; justify-content: flex-end; margin-top: 15px; margin-bottom: 15px;">
                        <button type="button" id="updateClosePopup" class="btnAll" onclick="updateClose()">취소</button>
                        <button type="submit" class="btnAll" style="margin-left: 15px;">수정</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="popup" id="studentPopup" style="display: none;">
            <div style="background-color:#576096; width: 100%; height: 10%; color: white; font-family: Hakgyo; font-size: 25px; display: flex; align-items: center; padding: 10px;">
                학생 관리
            </div>
            <div style="display: flex; justify-content: center; width: 100%;">
                <form method="POST" action="/teacher/studentDel" id="studentForm" style="padding: 10px; width: 80%; font-family: Score5; font-size: 20px">
                    <ul id="studentList" style="list-style: none; padding: 0; max-height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px;">
                        {{#student}}
                            <li style="display: flex; justify-content: space-between; align-items: center; padding: 10px; border-bottom: 1px solid #ddd;">
                                <span>{{name}}</span>
                                <button type="button" onclick="deleteStudent({{id}}, '{{name}}')" style="background: red; color: white; border: none; padding: 3px 6px; cursor: pointer; border-radius: 10%; font-size: 12px; line-height: 1; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center;">
                                    ✕</button>
                            </li>
                        {{/student}}
                    </ul>

                    <div style="display: flex; align-items: center; justify-content: flex-end; margin-top: 15px; margin-bottom: 15px;">
                        <button type="button" id="updateClosePopup" class="btnAll" onclick="studentClose()">취소</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="popup" id="deletePopup" style="display: none;">
            <div style="display: flex; justify-content: center; width: 100%;">
                <form method="POST" action="/teacher/classDelete" style="padding: 10px; width: 80%; font-family: Score5; font-size: 20px">
                    <label for="class">등록된 수업을 삭제하시겠습니까?</label>
                    <label for="class">해당 수업과 관련된 모든 게시물이 삭제됩니다.</label>
                    <input id = "deleteCode" type="hidden" name="deleteCode"/>

                    <div style="display: flex; align-items: center; justify-content: flex-end; margin-top: 15px; margin-bottom: 15px;">
                        <button type="button" id="deleteClosePopup" class="btnAll" onclick="deleteClose()">취소</button>
                        <button type="submit" class="btnAll" style="margin-left: 15px;background: #EB6319">삭제</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="class-info">
            <p style="font-family: Score5; font-size: 30px; color: black;">담임 학급</p>
            <div class="circle">{{member.schoolgrade}}학년 {{member.schoolClass}}반<br>{{member.teacherCode}}
            </div>
            <div class="text-button-container">
                <span style="

                font-family: Score5; font-size: 20px; color: black" class="text">수업 목록</span>
                <div class="plus" id="openPopup"></div>
            </div>
            <div style="width: 100%; min-height: 50px; max-height: 500px; border-radius: 15px; background-color: #F6E1A0; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); overflow-y: auto; padding: 10px;">
                {{#subjects}}
                    <div class="text-button-container">
                        <div id = "backDiv" class="item" style="margin-bottom: 10px;width: 100%; background-color: white; border-radius: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 10px;cursor: pointer;" onclick="toggleButtons(this)">
                            <p style="font-family: Score5; text-align: center;">[{{subject}}] {{grade}}학년 {{divClass}}분반</p><br>
                            <p id = "classCode" style="font-family: Score5; text-align: center;">수업 코드 : {{id}}</p>
                            <div class="hidden-buttons" style="display: none; justify-content: center; margin-top: 10px; gap: 10px;">
                                <button class="edit-btn"  onclick="update(this)" style="font-family: Score6;background-color: #F19B2A;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); color: white; padding: 5px 10px; border-radius: 15px; border: none; cursor: pointer;">수정</button>
                                <button class="delete-btn" onclick="deleteClass(this)" style="font-family: Score6;background-color: #E55D5D;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); color: white; padding: 5px 10px; border-radius: 15px; border: none; cursor: pointer;">삭제</button>
                            </div>
                        </div>
                    </div>
                {{/subjects}}
                {{^subjects}}
                    <div class="text-button-container">
                            <p style="font-family: Score5; text-align: center;">수업을 등록해 주세요!</p>
                    </div>
                {{/subjects}}
            </div>
        </div>

        <div class="grid">
            <!-- 학생 상담 -->
            <div class="card">
                <h2 style="font-family:Hakgyo ">학생 상담</h2>
                <ul class="cardIn" style="padding: 5%">
                    <li onclick="location.href='/counsel/Audio'" style="cursor:pointer;">음성 상담 분석</li>
                    <li onclick="location.href='/teacher/student_recode'" style="cursor:pointer;">상담 기록</li>
                    <li onclick="location.href='/teacher/student_recode'" style="cursor:pointer;">학생 생활기록부 등록</li>
                </ul>
            </div>

            <!-- 시험 결과 확인 -->
            <div class="card">
                <h2 style="font-family:Hakgyo ">시험 결과 확인</h2>
                <ul class="cardIn" style="padding: 5%">
                    <li style="background-color: transparent; box-shadow: none;"></li>
                    {{#firstSubject}}
                    <li onclick="location.href='/testResult/list?id={{firstSubject.id}}'" style="cursor:pointer;">과목별 시험 결과 확인</li>
                    {{/firstSubject}}
                    <li style="background-color: transparent; box-shadow: none;"></li>
                </ul>
            </div>

            <!-- 수업 분석 -->
            <div class="card">
                <h2 style="font-family:Hakgyo ">수업 분석</h2>
                <ul class="cardIn">
                    <div class="video-container">
                        <a class="play-button" onclick="checkSubjects()"></a>
                        <img src="/images/analyzeEnd.svg"/>

                    </div>
                </ul>
            </div>

            <!-- 우리 반 관리 -->
            <div class="card">
                <h2 style="font-family:Hakgyo ">우리 반 관리</h2>
                <ul class="cardIn" style="padding: 5%">
                    <li onclick="studentPopup()" style="cursor:pointer;"><div>학생 관리</div></li>
                    <li onclick="location.href='/myClass/list?id={{member.teacherCode}}'" style="cursor:pointer;">우리반 커뮤니티</li>
                    <li style="background-color: transparent; box-shadow: none;"></li>
                </ul>
            </div>
        </div>
    </main>
</div>

<script>
    var subLen = {{subLen}};
    document.getElementById('openPopup').addEventListener('click', function() {
        document.getElementById('popup').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    });

    document.getElementById('closePopup').addEventListener('click', function() {
        document.getElementById('popup').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    });

    document.getElementById('overlay').addEventListener('click', function() {
        document.getElementById('popup').style.display = 'none';
        this.style.display = 'none';
    });

    function checkSubjects() {

        if (subLen === 0) {
            alert("수업 목록이 비어 있습니다.");
        } else {
            window.location.href = "/teacher/class";  // URL 이동
        }
    }
    function studentPopup(){
        document.getElementById('studentPopup').style.display = 'block';
    }
    function studentClose(){
        document.getElementById('studentPopup').style.display = 'none';
    }

    function toggleButtons(item) {
        const hiddenButtons = item.querySelector('.hidden-buttons'); // 클릭한 아이템 내의 hidden-buttons 찾기
        const backDiv = item; // 클릭한 아이템을 backDiv로 사용

        if (hiddenButtons.style.display === 'none' || hiddenButtons.style.display === '') {
            hiddenButtons.style.display = 'flex';
            backDiv.style.backgroundColor = '#B0B7E2';  // 클릭한 아이템 배경색 변경
        } else {
            hiddenButtons.style.display = 'none';
            backDiv.style.backgroundColor = '#ffffff';  // 다시 배경색 원래대로
        }
    }

    function update(element) {
        // 클릭된 아이템에서 값 추출
        var item = element.closest('.item');  // 클릭된 item을 찾아서
        var textContent = item.querySelector('p').innerText;
        var classCodeText = item.querySelector('#classCode').innerText;  // 해당 아이템 내의 classCode를 참조
        var classCode = classCodeText.split(":")[1].trim();
        var subject = textContent.match(/\[([^\]]+)\]/)[1]; // [물리]에서 물리 추출
        var grade = textContent.match(/(\d+)학년/)[1]; // 1학년에서 1 추출
        var divClass = textContent.match(/(\w+)분반/)[1];

        console.log(classCode);
        console.log(subject);
        console.log(grade);
        console.log(divClass);
        // 팝업의 입력 필드에 디폴트 값 설정
        document.getElementById('updateCodeTitle').textContent = classCode;
        document.getElementById('updateCode').value = classCode;
        document.getElementById('updateGrade').value = grade;
        document.getElementById('updateClass').value = divClass;
        document.getElementById('updateSubject').value = subject;

        // 팝업 표시
        document.getElementById('updatePopup').style.display = 'block';
    }

    function updateClose(){
        document.getElementById('updatePopup').style.display = 'none';
    }

    function deleteClass(element) {
        // 클릭된 아이템에서 값 추출
        var item = element.closest('.item');  // 클릭된 item을 찾아서
        var classCodeText = item.querySelector('#classCode').innerText;  // 해당 아이템 내의 classCode를 참조
        var classCode = classCodeText.split(":")[1].trim();  // 수업 코드를 추출

        // 팝업의 입력 필드에 디폴트 값 설정
        document.getElementById('deleteCode').value = classCode;

        // 팝업 표시
        document.getElementById('deletePopup').style.display = 'block';
    }

    function deleteClose(){
        document.getElementById('deletePopup').style.display = 'none';
    }


    function deleteStudent(studentId, studentName) {
        const confirmed = confirm(`🚨[주의]\n${studentName} 학생을 반에서 제외하겠습니까? \n학생의 수강 목록이 초기화 됩니다.`);
        if (confirmed) {
            const form = document.getElementById("studentForm");
            const input = document.createElement("input");
            input.type = "hidden";
            input.name = "studentId";
            input.value = studentId;
            form.appendChild(input);
            form.submit();
        }
    }
</script>
{{>footer}}